/*
input.ng-not-empty {
  background-color: white;
}

input.ng-empty {
  background-color: #FF8A80;
}

input.ng-empty {
  background-color: #E57373;
}

input.ng-invalid {
	background-color: #E57373;
}

input.untouched {
  background-color: white;
}

*/
